
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/View.cshtml";
    var MN = Session["MaNhom"] as string;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div style="float:left;margin-top:-50px">
    <h1>Quản Lý Công Việc</h1>
</div>
<div style="float:right;margin-top:-50px">
    @if (MN == "admin")
    {
        <button style="margin-right:10px" class="btn btn-danger" onclick="ThemCongViec()"><i class="fas fa-plus-circle"></i>&ensp;Thêm </button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-trash"></i>&ensp;Xóa</button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-share-alt"></i>&ensp;Lưu</button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="far fa-calendar-check"></i>&ensp;Duyệt kế hoạch</button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-lock"></i>/<i class="fas fa-unlock"></i>&ensp;Khóa/Mở Tuần</button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-exchange-alt"></i>&ensp;Dời Công Việc</button>
        <button style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-file-excel"></i>&ensp;Xuất excel</button>
    }
    else
    {
        <button hidden style="margin-right:10px" class="btn btn-danger" onclick="ThemCongViec()"><i class="fas fa-plus-circle"></i>&ensp;Thêm </button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-trash"></i>&ensp;Xóa</button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-share-alt"></i>&ensp;Lưu</button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="far fa-calendar-check"></i>&ensp;Duyệt kế hoạch</button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-lock"></i>/<i class="fas fa-unlock"></i>&ensp;Khóa/Mở Tuần</button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-exchange-alt"></i>&ensp;Dời Công Việc</button>
        <button hidden style="margin-right:10px" type="button" class="btn btn-danger"><i class="fas fa-file-excel"></i>&ensp;Xuất excel</button>
    }

</div>
<div style="border: 1px solid black; height: 70px; margin-top: 80px; padding-top:15px" class="container-fluid; ">
    <div class="row">
        <div class="col-md-1" style="text-align:center;padding-top:5px;">
            <h7>Tháng</h7>
        </div>
        <div class="col-md-4">
            <select class="form-control" style="width: 70%" id="selectOptionsCategory"></select>
        </div>
        <div class="col-md-1" style="text-align:center;padding-top:5px;">
            <h7>Tuần</h7>
        </div>
        <div class="col-md-2">
            <select class="form-control" style="width: 70%" id="selectOptionsCategory"></select>
        </div>
        <div style="float:right" class="col-lg-4">


            <button type="button" style="margin-right:30px" class="btn btn-danger"><i class="fas fa-search"></i>&ensp;Tìm</button>
            <button type="button" class="btn btn-danger"><i class="fas fa-arrow-down"></i>&ensp;Tìm Công Việc</button>



        </div>
    </div>

</div>
<div class="container-fluid" style="background-color: #FFFF66; margin-top: 30px; border-width: 0.5px; border-style: solid; border-color:red ">
    <div>
        <div class="row">
        <div >
            <button type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-thumbtack"></i>
            </button>
        </div>
        <div >
            <p>
                &ensp; Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </p>
        </div>


    </div>
    </div>
    <div style="background-color: #FFFF66; height: 10px; " class="collapse" id="collapseExample">
        <div class="pre-scrollable" style=" height: 140px; ">
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>

            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>

            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
        </div>
    </div>
</div>
<table class="table table-striped" style="margin-top:40px" id="tblWeek">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Module</th>
            <th>Tên Công Việc</th>
            <th>Nguồn gốc</th>
            <th>Thời gian</th>
            <th>Từ Ngày</th>
            <th>Đến Ngày</th>
            <th>Trạng Thái</th>
            <th>Ghi Chú</th>


        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- The Modal -->
<!-- The Modal -->
<div class="modal" id="AddWorkWeek" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="myModalLablePhoto">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <input hidden id="giatri" value="" />
            <!-- Modal Header -->
            <div class="modal-header" style="text-align:center">
                <h4 class="modal-title" style="text-align:center" id="Control">THÊM TUẦN LÀM VIỆC</h4>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Tên tháng <span style="color:red">*</span></label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="NameMonth">
                            </div>

                            <div class="col-lg-1">
                                <label>Năm </label>
                            </div>
                            <div class="col-lg-3">
                                @*<select class="form-control" style="width: 70%" id="YEAR"></select>*@
                                <input type="number" style="width: 100px" class="form-control" id="YEAR" min="2021" max="2024">
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Ngày bắt đầu <span style="color:red">*</span></label>
                            </div>
                            <div class="col-lg-6">
                                <input type="date" style="width: 100%" class="form-control" id="FirstDay">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <label><span style="color: purple">* Ngày bắt đầu nên là ngày thứ hai đầu tiên của tháng</span></label>
                            </div>
                        </div>

                        <br />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Ngày kết thúc<span style="color:red">*</span></label>
                            </div>
                            <div class="col-lg-6">
                                <input type="date" style="width: 100%" class="form-control" id="LastDay">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <label><span style="color:purple">* Ngày kết thúc nên là ngày của thứ sáu (hoặc bảy) của tuần cuối cùng (trong cùng tháng hoặc tháng tiếp theo)</span></label>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-2">
                                <label>Giá trị</label>
                            </div>
                            <div class="col-lg-6">
                                @*<select class="form-control" style="width: 70%" id="MonthModal"></select>*@
                                <input type="number" style="width: 100px" class="form-control" id="MonthModal" min="1" max="12">
                            </div>
                        </div>
                        <br />

                    </div>

                    <div class="form-group">
                        <table class="table table-striped" style="margin-top:40px" id="tblModal">
                            <thead>
                                <tr>
                                    <th>Tên tuần</th>
                                    <th>Thứ tự</th>
                                    <th>Từ ngày</th>
                                    <th>Đến ngày</th>
                                    <th>Số giờ làm</th>
                                    <th>Đã khóa</th>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="LoadWeekByMonth">
                            </tbody>
                        </table>
                        <br />
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="row"></div>
                <div class="col-md-3"> <button class="btn btn-primary" onclick="Insert()">Lưu & Thêm</button></div>
                <div class="col-md-3">   <button class="btn btn-primary" onclick="Update()">Lưu & đóng</button></div>
                <div class="col-md-3">  <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button></div>



            </div>

        </div>
    </div>
</div>

