USE [DBWM2]
GO
ALTER TABLE [dbo].[TUAN] DROP CONSTRAINT [fk_giatri_namthang]
GO
ALTER TABLE [dbo].[TODOLIST] DROP CONSTRAINT [FK_TDL_NV]
GO
ALTER TABLE [dbo].[TODOLIST] DROP CONSTRAINT [FK_TDL_DA]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] DROP CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG2]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] DROP CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG1]
GO
ALTER TABLE [dbo].[QL_CONGVIEC] DROP CONSTRAINT [FL_CV_DUAN]
GO
ALTER TABLE [dbo].[QL_CONGVIEC] DROP CONSTRAINT [fk_qlcv_nv]
GO
ALTER TABLE [dbo].[QL_CONGVIEC] DROP CONSTRAINT [FK_CV_TUAN]
GO
ALTER TABLE [dbo].[QL_CONGVIEC] DROP CONSTRAINT [FK_CONGVIEC_MODULE1]
GO
ALTER TABLE [dbo].[PHANQUYEN] DROP CONSTRAINT [FK_PHANQUYEN2]
GO
ALTER TABLE [dbo].[PHANQUYEN] DROP CONSTRAINT [FK_PHANQUYEN1]
GO
ALTER TABLE [dbo].[NHANVIEN] DROP CONSTRAINT [fk_nv_ngdung]
GO
/****** Object:  Table [dbo].[TUAN]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[TUAN]
GO
/****** Object:  Table [dbo].[TODOLIST]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[TODOLIST]
GO
/****** Object:  Table [dbo].[THANG]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[THANG]
GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]
GO
/****** Object:  Table [dbo].[QL_CONGVIEC]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[QL_CONGVIEC]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[PHANQUYEN]
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[NHOMNGUOIDUNG]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[NHANVIEN]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[NGUOIDUNG]
GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[MODULE]
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP TABLE [dbo].[DUAN]
GO
/****** Object:  StoredProcedure [dbo].[UPDATETODO2]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[UPDATETODO2]
GO
/****** Object:  StoredProcedure [dbo].[UPDATETODO1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[UPDATETODO1]
GO
/****** Object:  StoredProcedure [dbo].[UPDATEMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[UPDATEMONTH]
GO
/****** Object:  StoredProcedure [dbo].[TEST]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[TEST]
GO
/****** Object:  StoredProcedure [dbo].[sortToDo2]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[sortToDo2]
GO
/****** Object:  StoredProcedure [dbo].[sortToDo1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[sortToDo1]
GO
/****** Object:  StoredProcedure [dbo].[sortToDo]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[sortToDo]
GO
/****** Object:  StoredProcedure [dbo].[LockPlan12]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LockPlan12]
GO
/****** Object:  StoredProcedure [dbo].[loadnam]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[loadnam]
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHTEST]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LOADBYMONTHTEST]
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHAll1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LOADBYMONTHAll1]
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHAll]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LOADBYMONTHAll]
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTH1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LOADBYMONTH1]
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[LOADBYMONTH]
GO
/****** Object:  StoredProcedure [dbo].[insertToDo4]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[insertToDo4]
GO
/****** Object:  StoredProcedure [dbo].[insertToDo3]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[insertToDo3]
GO
/****** Object:  StoredProcedure [dbo].[INSERTMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[INSERTMONTH]
GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek12]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getWorkWeek12]
GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getWorkWeek1]
GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getWorkWeek]
GO
/****** Object:  StoredProcedure [dbo].[getWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getWeek]
GO
/****** Object:  StoredProcedure [dbo].[getProject]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getProject]
GO
/****** Object:  StoredProcedure [dbo].[getmonth3]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getmonth3]
GO
/****** Object:  StoredProcedure [dbo].[getmonth2]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getmonth2]
GO
/****** Object:  StoredProcedure [dbo].[getmonth1]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getmonth1]
GO
/****** Object:  StoredProcedure [dbo].[getMonth]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getMonth]
GO
/****** Object:  StoredProcedure [dbo].[getModalWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[getModalWeek]
GO
/****** Object:  StoredProcedure [dbo].[GetAllToDo2]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[GetAllToDo2]
GO
/****** Object:  StoredProcedure [dbo].[deleteTDL]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[deleteTDL]
GO
/****** Object:  StoredProcedure [dbo].[DELETEMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP PROCEDURE [dbo].[DELETEMONTH]
GO
USE [master]
GO
/****** Object:  Database [DBWM2]    Script Date: 12/3/2021 6:20:34 PM ******/
DROP DATABASE [DBWM2]
GO
/****** Object:  Database [DBWM2]    Script Date: 12/3/2021 6:20:34 PM ******/
CREATE DATABASE [DBWM2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBWM2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HOANGNAMPC\MSSQL\DATA\DBWM2.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBWM2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.HOANGNAMPC\MSSQL\DATA\DBWM2_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBWM2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBWM2]
GO
/****** Object:  StoredProcedure [dbo].[DELETEMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

		CREATE PROC [dbo].[DELETEMONTH] @GIATRI INT,@NAM INT
		AS
		DELETE FROM THANG WHERE GIATRI=@GIATRI AND NAM=@NAM;
GO
/****** Object:  StoredProcedure [dbo].[deleteTDL]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[deleteTDL] @MATDL INT
		AS
		DELETE FROM TODOLIST WHERE MATDL= @MATDL
GO
/****** Object:  StoredProcedure [dbo].[GetAllToDo2]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[GetAllToDo2] @MAMH char(20)
as
select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV

GO
/****** Object:  StoredProcedure [dbo].[getModalWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getModalWeek] @Thang int , @Nam int
		as

		select distinct TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG from tuan join thang on tuan.GIATRI =@Thang  and  tuan.nam =@Nam and tuan.GIATRI=THANG.GIATRI
GO
/****** Object:  StoredProcedure [dbo].[getMonth]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getMonth]

as
	select distinct THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC from THANG 
GO
/****** Object:  StoredProcedure [dbo].[getmonth1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getmonth1]
		as
		select distinct (thang.GIATRI),THANG.THANG ,THANG.NAM from thang 
GO
/****** Object:  StoredProcedure [dbo].[getmonth2]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getmonth2]
		as
		select distinct (thang.GIATRI), thang.NAM,thang.THANG from thang 
GO
/****** Object:  StoredProcedure [dbo].[getmonth3]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getmonth3]
		as
		select distinct (thang.GIATRI)from thang 
GO
/****** Object:  StoredProcedure [dbo].[getProject]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getProject] @TENDN Char(30)
as
	select DUAN.MAMH,DUAN.TENMH,DUAN.Icon, DUAN.Link from ((DUAN join PHANQUYEN on DUAN.MAMH = PHANQUYEN.MAMH)
	join QL_NGUOIDUNGNHOMNGUOIDUNG on QL_NGUOIDUNGNHOMNGUOIDUNG.MANHOM = PHANQUYEN.MANHOM and QL_NGUOIDUNGNHOMNGUOIDUNG.TENDN = @TENDN
	)



GO
/****** Object:  StoredProcedure [dbo].[getWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getWeek] @GiaTri int

as
	select distinct TUAN.GIATRI,TUAN.MATUAN,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG from TUAN join THANG on TUAN.GIATRI =@GiaTri
	



GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getWorkWeek]
AS
SELECT THANG.GIATRI,TUAN.MATUAN,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
FROM THANG
LEFT JOIN TUAN
ON THANG.GIATRI= TUAN.GIATRI 

GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getWorkWeek1] 

as
	select THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG from THANG join TUAN on THANG.GIATRI = TUAN.GIATRI
	



GO
/****** Object:  StoredProcedure [dbo].[getWorkWeek12]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[getWorkWeek12]
AS
SELECT THANG.GIATRI,TUAN.Nam,TUAN.MATUAN,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
FROM THANG
LEFT JOIN TUAN
ON THANG.GIATRI= TUAN.GIATRI 

GO
/****** Object:  StoredProcedure [dbo].[INSERTMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		create proc [dbo].[INSERTMONTH] @GIATRI int , @Nam int,@THANG NVARCHAR(20),@NGAYBATDAU DATE,@NGAYKETTHUC DATE

		AS
		INSERT INTO THANG VALUES(@GIATRI,@Nam,@THANG,@NGAYBATDAU,@NGAYKETTHUC)
GO
/****** Object:  StoredProcedure [dbo].[insertToDo3]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[insertToDo3] @noidung nvarchar(max),@Manv int ,@ngaygiao date,@denhan date,@ghichu nvarchar(max),@trangthai int,@MaMH char(50)
as

declare @thoihan int
set @thoihan = DATEDIFF(DAY,@ngaygiao,@denhan)
if(@thoihan > 0  )
insert into TODOLIST values(@noidung ,@Manv  ,CONCAT(N'Còn ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
else if(@thoihan<0)
insert into TODOLIST values(@noidung ,@Manv  ,CONCAT(N'Trễ ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
else 
insert into TODOLIST values(@noidung ,@Manv  ,N'Hôm nay' ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
GO
/****** Object:  StoredProcedure [dbo].[insertToDo4]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[insertToDo4] @noidung nvarchar(max),@Manv int ,@ngaygiao date,@denhan date,@ghichu nvarchar(max),@trangthai int,@MaMH char(50)
as

declare @thoihan int
set @thoihan = DATEDIFF(DAY,GETDATE(),@denhan)
if(@thoihan > 0  )
insert into TODOLIST values(@noidung ,@Manv  ,CONCAT(N'Còn ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
else if(@thoihan<0)
insert into TODOLIST values(@noidung ,@Manv  ,CONCAT(N'Trễ ', CONVERT(varchar(10), -@thoihan) + N' Ngày') ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
else 
insert into TODOLIST values(@noidung ,@Manv  ,N'Hôm nay' ,@ngaygiao,@denhan,@ghichu ,@trangthai ,@MaMH )
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[LOADBYMONTH] @MONTH INT,@YEAR INT
	AS
	IF(@MONTH=-1) 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG ,TUAN.Nam
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
	ELSE 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG ,TUAN.Nam
		FROM THANG
		JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI AND THANG.GIATRI = @MONTH AND THANG.NAM = TUAN.NAM AND THANG.NAM = @YEAR
		
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTH1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LOADBYMONTH1] @MONTH INT,@YEAR INT
	AS
	IF(@MONTH=-1) 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG ,TUAN.Nam
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
	ELSE 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG ,TUAN.Nam
		FROM THANG
		JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI AND THANG.GIATRI = @MONTH AND THANG.NAM = TUAN.NAM AND THANG.NAM = @YEAR
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHAll]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		
CREATE proc [dbo].[LOADBYMONTHAll] 
	AS
	
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG , TUAN.Nam
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHAll1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LOADBYMONTHAll1] 
	AS
	
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG , TUAN.Nam
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
GO
/****** Object:  StoredProcedure [dbo].[LOADBYMONTHTEST]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
		CREATE proc [dbo].[LOADBYMONTHTEST] @MONTH INT,@YEAR INT
	AS
	IF(@MONTH=-1) 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
	ELSE 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
		FROM THANG
		JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI AND THANG.GIATRI = @MONTH AND THANG.NAM = TUAN.NAM AND THANG.NAM = @YEAR
GO
/****** Object:  StoredProcedure [dbo].[loadnam]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loadnam]
as
		select distinct nam from thang
GO
/****** Object:  StoredProcedure [dbo].[LockPlan12]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[LockPlan12] @giatri int , @nam int,@stt int
as

	declare @tt int;
	set @tt = (select TINHTRANG from tuan where GIATRI = @giatri and Nam = @nam and STTTUAN=@stt )
	if(@tt=1)
	update TUAN
	set TINHTRANG = 0 where GIATRI = @giatri and Nam = @nam and STTTUAN=@stt
	else 
	update TUAN
	set TINHTRANG = 1 where GIATRI = @giatri and Nam = @nam and STTTUAN=@stt


	(select TINHTRANG from tuan where GIATRI = 2 and Nam = 2021 and STTTUAN=2 )
GO
/****** Object:  StoredProcedure [dbo].[sortToDo]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sortToDo] @NOIDUNG NVARCHAR(MAX),@MANV INT,@NGAYTRE INT,@TUNGAY DATE, @DENNGAY DATE,@TRANGTHAI INT, @MAMH char(20)
AS

	IF(@TRANGTHAI=0)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(YEAR,T.DENHAN,GETDATE())=@NGAYTRE
	ELSE IF(@TRANGTHAI=1)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(YEAR,T.DENHAN,GETDATE())=@NGAYTRE AND T.TRANGTHAI=1
	ELSE
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(YEAR,T.DENHAN,GETDATE())=@NGAYTRE AND T.TRANGTHAI=0
GO
/****** Object:  StoredProcedure [dbo].[sortToDo1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[sortToDo1] @NOIDUNG NVARCHAR(MAX),@MANV INT,@NGAYTRE INT,@TUNGAY DATE, @DENNGAY DATE,@TRANGTHAI INT, @MAMH char(20)
AS

	IF(@TRANGTHAI=0)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())=@NGAYTRE 
	ELSE IF(@TRANGTHAI=1)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())=@NGAYTRE AND T.TRANGTHAI=1
	ELSE
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())=@NGAYTRE AND T.TRANGTHAI=0

GO
/****** Object:  StoredProcedure [dbo].[sortToDo2]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


Create proc [dbo].[sortToDo2] @NOIDUNG NVARCHAR(MAX),@MANV INT,@NGAYTRE INT,@TUNGAY DATE, @DENNGAY DATE,@TRANGTHAI INT, @MAMH char(20)
AS

	IF(@TRANGTHAI=0)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())>=@NGAYTRE 
	ELSE IF(@TRANGTHAI=1)
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())>=@NGAYTRE AND T.TRANGTHAI=1
	ELSE
		select t.MATDL,t.THOIHAN,t.NOIDUNG,n.HOTEN,t.NGAYGIAO,t.DENHAN,t.GHICHU,t.TRANGTHAI from TODOLIST t join NHANVIEN n  on  t.MAMH= @MAMH and n.MANV = t.MANV AND T.NOIDUNG LIKE N'%'+@NOIDUNG+'%'
 and t.MANV=@MANV AND T.DENHAN BETWEEN @TUNGAY AND @DENNGAY AND DATEDIFF(DAY,T.DENHAN,GETDATE())>@NGAYTRE AND T.TRANGTHAI=0
GO
/****** Object:  StoredProcedure [dbo].[TEST]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

	CREATE proc [dbo].[TEST] @MONTH INT
	AS
	IF(@MONTH=-1) 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
		FROM THANG
		LEFT JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI 
	ELSE 
	SELECT THANG.GIATRI,THANG.THANG,THANG.NGAYBATDAU,THANG.NGAYKETTHUC,TUAN.TENTUAN,TUAN.STTTUAN,TUAN.TUNGAY,TUAN.DENNGAY,TUAN.SOGIOLAM,TUAN.TINHTRANG 
		FROM THANG
		JOIN TUAN ON THANG.GIATRI= TUAN.GIATRI AND THANG.GIATRI = @MONTH AND THANG.NAM = TUAN.NAM
		

GO
/****** Object:  StoredProcedure [dbo].[UPDATEMONTH]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UPDATEMONTH] @GIATRI int , @Nam int,@THANG NVARCHAR(20),@NGAYBATDAU DATE,@NGAYKETTHUC DATE

		AS
		UPDATE THANG
		SET  NAM = @NAM,THANG = @THANG,NGAYBATDAU=@NGAYBATDAU,NGAYKETTHUC=@NGAYKETTHUC
		WHERE GIATRI=@GIATRI AND NAM=@NAM
GO
/****** Object:  StoredProcedure [dbo].[UPDATETODO1]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[UPDATETODO1] @MATDL INT, @noidung nvarchar(max),@Manv int ,@ngaygiao date,@denhan date,@ghichu nvarchar(max),@trangthai int
as

declare @thoihan int
set @thoihan = DATEDIFF(DAY,@ngaygiao,@denhan)
if(@thoihan > 0  )
UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=CONCAT(N'Còn ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
 ELSE IF (@thoihan < 0  )
 UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=CONCAT(N'Trễ ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
ELSE 
UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=N'Hôm nay' ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
GO
/****** Object:  StoredProcedure [dbo].[UPDATETODO2]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[UPDATETODO2] @MATDL INT, @noidung nvarchar(max),@Manv int ,@ngaygiao date,@denhan date,@ghichu nvarchar(max),@trangthai int
as

declare @thoihan int
set @thoihan = DATEDIFF(DAY,GETDATE(),@denhan)
if(@thoihan > 0  )
UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=CONCAT(N'Còn ', CONVERT(varchar(10), @thoihan) + N' Ngày') ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
 ELSE IF (@thoihan < 0  )
 UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=CONCAT(N'Trễ ', CONVERT(varchar(10), -@thoihan) + N' Ngày') ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
ELSE 
UPDATE TODOLIST 
SET NOIDUNG = @noidung,MANV =@Manv,THOIHAN=N'Hôm nay' ,NGAYGIAO=@ngaygiao,DENHAN=@denhan,GHICHU=@ghichu,TRANGTHAI=@trangthai
WHERE MATDL=@MATDL
GO
/****** Object:  Table [dbo].[DUAN]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUAN](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](100) NOT NULL,
	[Link] [nvarchar](max) NULL,
	[Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK__MANHINH__603F69EBD57EF04A] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODULE]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULE](
	[MAMODULE] [int] IDENTITY(1,1) NOT NULL,
	[TENMODULE] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAMODULE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TENDN] [varchar](100) NOT NULL,
	[MATKHAU] [varchar](50) NULL,
	[HOATDONG] [bit] NULL,
 CONSTRAINT [PK__NGUOIDUN__A58D778072F6748C] PRIMARY KEY CLUSTERED 
(
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[SDT] [nchar](15) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TENDN] [varchar](100) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[MANHOM] [varchar](20) NOT NULL,
	[TENNHOM] [nvarchar](50) NULL,
	[GHICHU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MANHOM] [varchar](20) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[COQUYEN] [bit] NULL,
 CONSTRAINT [PK__PHANQUYE__83845CAE3123BCF3] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QL_CONGVIEC]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QL_CONGVIEC](
	[MACV] [int] IDENTITY(1,1) NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[MANV] [int] NOT NULL,
	[MATUAN] [int] NOT NULL,
	[TENCONGVIEC] [nvarchar](20) NULL,
	[MAMODULE] [int] NULL,
	[Nguồn gốc] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
 CONSTRAINT [PK_QL_CONGVIEC_1] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC,
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG](
	[TENDN] [varchar](100) NOT NULL,
	[MANHOM] [varchar](20) NOT NULL,
	[GHICHU] [nvarchar](200) NULL,
 CONSTRAINT [PK__QL_NGUOI__3FDF7D483C1881C4] PRIMARY KEY CLUSTERED 
(
	[MANHOM] ASC,
	[TENDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THANG]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THANG](
	[GIATRI] [int] NOT NULL,
	[NAM] [int] NOT NULL,
	[THANG] [nvarchar](20) NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
 CONSTRAINT [PK__Thang__91E2869B9D0A67AC] PRIMARY KEY CLUSTERED 
(
	[GIATRI] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TODOLIST]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TODOLIST](
	[MATDL] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[MANV] [int] NULL,
	[THOIHAN] [nvarchar](50) NULL,
	[NGAYGIAO] [date] NULL,
	[DENHAN] [date] NULL,
	[GHICHU] [nvarchar](max) NULL,
	[TRANGTHAI] [bit] NULL,
	[MAMH] [nchar](10) NULL,
 CONSTRAINT [PK__TODOLIST__582B628C9058F042] PRIMARY KEY CLUSTERED 
(
	[MATDL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUAN]    Script Date: 12/3/2021 6:20:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUAN](
	[MATUAN] [int] IDENTITY(1,1) NOT NULL,
	[GIATRI] [int] NULL,
	[STTTUAN] [int] NULL,
	[TENTUAN] [nvarchar](255) NULL,
	[TUNGAY] [date] NULL,
	[DENNGAY] [date] NULL,
	[SOGIOLAM] [int] NULL,
	[TINHTRANG] [bit] NULL,
	[Nam] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DUAN] ([MAMH], [TENMH], [Link], [Icon]) VALUES (N'MH002     ', N'Dự Án 2', NULL, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQX76zv-aRUjLY8XdBThr_eYzSzJRQNCPmS3g&usqp=CAU')
SET IDENTITY_INSERT [dbo].[MODULE] ON 

INSERT [dbo].[MODULE] ([MAMODULE], [TENMODULE]) VALUES (1, N'Mầm non')
INSERT [dbo].[MODULE] ([MAMODULE], [TENMODULE]) VALUES (2, N'Tiểu học')
INSERT [dbo].[MODULE] ([MAMODULE], [TENMODULE]) VALUES (3, N'Trung học')
SET IDENTITY_INSERT [dbo].[MODULE] OFF
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [HOATDONG]) VALUES (N'admin', N'1', 1)
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [HOATDONG]) VALUES (N'leader', N'1', 1)
INSERT [dbo].[NGUOIDUNG] ([TENDN], [MATKHAU], [HOATDONG]) VALUES (N'member', N'1', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [GIOITINH], [DIACHI], [TENDN]) VALUES (1, N'Phan Hoàng Nam', N'0817658856     ', N'Nam', N'Đăk Lăk', N'admin')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [GIOITINH], [DIACHI], [TENDN]) VALUES (2, N'Đinh Thị Như Quỳnh', N'0869091039     ', N'Nữ', N'Phú Yên', N'leader')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SDT], [GIOITINH], [DIACHI], [TENDN]) VALUES (3, N'Phan Văn Anh', N'0123412832     ', N'Nam', N'TPHCM', N'member')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'admin', N'Quan Ly', N'z')
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'LD', N'Leader', NULL)
INSERT [dbo].[NHOMNGUOIDUNG] ([MANHOM], [TENNHOM], [GHICHU]) VALUES (N'MB', N'Member', NULL)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMH], [COQUYEN]) VALUES (N'admin', N'MH001     ', 1)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMH], [COQUYEN]) VALUES (N'admin', N'MH002     ', 1)
INSERT [dbo].[PHANQUYEN] ([MANHOM], [MAMH], [COQUYEN]) VALUES (N'admin', N'MH003     ', 1)
SET IDENTITY_INSERT [dbo].[QL_CONGVIEC] ON 

INSERT [dbo].[QL_CONGVIEC] ([MACV], [MAMH], [MANV], [MATUAN], [TENCONGVIEC], [MAMODULE], [Nguồn gốc], [TRANGTHAI], [GHICHU]) VALUES (2, N'MH001     ', 2, 9, N'Họp Team', 1, N'Tạo Mới', N'Chưa xong', NULL)
INSERT [dbo].[QL_CONGVIEC] ([MACV], [MAMH], [MANV], [MATUAN], [TENCONGVIEC], [MAMODULE], [Nguồn gốc], [TRANGTHAI], [GHICHU]) VALUES (3, N'MH001     ', 1, 10, N'Sửa database', 1, N'Tạo Mới', N'Chưa xong', NULL)
INSERT [dbo].[QL_CONGVIEC] ([MACV], [MAMH], [MANV], [MATUAN], [TENCONGVIEC], [MAMODULE], [Nguồn gốc], [TRANGTHAI], [GHICHU]) VALUES (6, N'MH001     ', 1, 10, N'Sửa database', 1, N'Tạo Mới', N'Chưa xong', NULL)
SET IDENTITY_INSERT [dbo].[QL_CONGVIEC] OFF
INSERT [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] ([TENDN], [MANHOM], [GHICHU]) VALUES (N'admin', N'admin', NULL)
INSERT [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] ([TENDN], [MANHOM], [GHICHU]) VALUES (N'leader', N'LD', NULL)
INSERT [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] ([TENDN], [MANHOM], [GHICHU]) VALUES (N'member', N'MB', NULL)
INSERT [dbo].[THANG] ([GIATRI], [NAM], [THANG], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (2, 2022, N'Tháng 11', CAST(N'2021-11-04' AS Date), CAST(N'2021-12-03' AS Date))
INSERT [dbo].[THANG] ([GIATRI], [NAM], [THANG], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (6, 2021, N'Tháng 6', CAST(N'2021-06-01' AS Date), CAST(N'2021-07-01' AS Date))
INSERT [dbo].[THANG] ([GIATRI], [NAM], [THANG], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (7, 2021, N'Tháng 7', CAST(N'2021-07-01' AS Date), CAST(N'2021-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[TODOLIST] ON 

INSERT [dbo].[TODOLIST] ([MATDL], [NOIDUNG], [MANV], [THOIHAN], [NGAYGIAO], [DENHAN], [GHICHU], [TRANGTHAI], [MAMH]) VALUES (1, N'Cần release module nhân sự cho kh', 4, N'Trễ 7 ngày', CAST(N'2021-11-25' AS Date), CAST(N'2021-11-28' AS Date), NULL, 0, N'MH001     ')
INSERT [dbo].[TODOLIST] ([MATDL], [NOIDUNG], [MANV], [THOIHAN], [NGAYGIAO], [DENHAN], [GHICHU], [TRANGTHAI], [MAMH]) VALUES (2, N'Chỉnh sửa ràng buộc số năm làm việc', 2, N'Trễ 4 ngày', CAST(N'2021-10-18' AS Date), CAST(N'2021-04-25' AS Date), NULL, 1, N'MH001     ')
INSERT [dbo].[TODOLIST] ([MATDL], [NOIDUNG], [MANV], [THOIHAN], [NGAYGIAO], [DENHAN], [GHICHU], [TRANGTHAI], [MAMH]) VALUES (3, N'Kiểm tra database', 3, N'Hôm nay', CAST(N'2021-10-22' AS Date), CAST(N'2021-10-02' AS Date), NULL, 1, N'MH001     ')
SET IDENTITY_INSERT [dbo].[TODOLIST] OFF
SET IDENTITY_INSERT [dbo].[TUAN] ON 

INSERT [dbo].[TUAN] ([MATUAN], [GIATRI], [STTTUAN], [TENTUAN], [TUNGAY], [DENNGAY], [SOGIOLAM], [TINHTRANG], [Nam]) VALUES (9, 6, 1, N'TUẦN 1', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-05' AS Date), 30, 1, 2021)
INSERT [dbo].[TUAN] ([MATUAN], [GIATRI], [STTTUAN], [TENTUAN], [TUNGAY], [DENNGAY], [SOGIOLAM], [TINHTRANG], [Nam]) VALUES (10, 7, 1, N'TUẦN 1', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-05' AS Date), 30, 1, 2021)
INSERT [dbo].[TUAN] ([MATUAN], [GIATRI], [STTTUAN], [TENTUAN], [TUNGAY], [DENNGAY], [SOGIOLAM], [TINHTRANG], [Nam]) VALUES (11, 8, 1, N'TUẦN 1', CAST(N'2021-01-01' AS Date), CAST(N'2021-01-05' AS Date), 30, 0, 2021)
SET IDENTITY_INSERT [dbo].[TUAN] OFF
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [fk_nv_ngdung] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [fk_nv_ngdung]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN1] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN1]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN2] FOREIGN KEY([MAMH])
REFERENCES [dbo].[DUAN] ([MAMH])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN2]
GO
ALTER TABLE [dbo].[QL_CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CONGVIEC_MODULE1] FOREIGN KEY([MAMODULE])
REFERENCES [dbo].[MODULE] ([MAMODULE])
GO
ALTER TABLE [dbo].[QL_CONGVIEC] CHECK CONSTRAINT [FK_CONGVIEC_MODULE1]
GO
ALTER TABLE [dbo].[QL_CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FK_CV_TUAN] FOREIGN KEY([MATUAN])
REFERENCES [dbo].[TUAN] ([MATUAN])
GO
ALTER TABLE [dbo].[QL_CONGVIEC] CHECK CONSTRAINT [FK_CV_TUAN]
GO
ALTER TABLE [dbo].[QL_CONGVIEC]  WITH CHECK ADD  CONSTRAINT [fk_qlcv_nv] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[QL_CONGVIEC] CHECK CONSTRAINT [fk_qlcv_nv]
GO
ALTER TABLE [dbo].[QL_CONGVIEC]  WITH CHECK ADD  CONSTRAINT [FL_CV_DUAN] FOREIGN KEY([MAMH])
REFERENCES [dbo].[DUAN] ([MAMH])
GO
ALTER TABLE [dbo].[QL_CONGVIEC] CHECK CONSTRAINT [FL_CV_DUAN]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG1] FOREIGN KEY([MANHOM])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([MANHOM])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG1]
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG2] FOREIGN KEY([TENDN])
REFERENCES [dbo].[NGUOIDUNG] ([TENDN])
GO
ALTER TABLE [dbo].[QL_NGUOIDUNGNHOMNGUOIDUNG] CHECK CONSTRAINT [FK_QL_NGUOIDUNGNHOMNGUOIDUNG2]
GO
ALTER TABLE [dbo].[TODOLIST]  WITH CHECK ADD  CONSTRAINT [FK_TDL_DA] FOREIGN KEY([MAMH])
REFERENCES [dbo].[DUAN] ([MAMH])
GO
ALTER TABLE [dbo].[TODOLIST] CHECK CONSTRAINT [FK_TDL_DA]
GO
ALTER TABLE [dbo].[TODOLIST]  WITH CHECK ADD  CONSTRAINT [FK_TDL_NV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[TODOLIST] CHECK CONSTRAINT [FK_TDL_NV]
GO
ALTER TABLE [dbo].[TUAN]  WITH NOCHECK ADD  CONSTRAINT [fk_giatri_namthang] FOREIGN KEY([GIATRI], [Nam])
REFERENCES [dbo].[THANG] ([GIATRI], [NAM])
GO
ALTER TABLE [dbo].[TUAN] NOCHECK CONSTRAINT [fk_giatri_namthang]
GO
USE [master]
GO
