
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPages.cshtml";
}
@*@section scripts {
    <script src="~/Scripts/JavaScript/Projects.js"></script>
}*@
<script src="~/Scripts/JavaScript/Projects.js"></script>
<div class="container-fluid" id="login" style="width: 450px; height: 420px; border: 0.01px solid; margin-top: 70px; border-radius: 30px">
    <h2 style="text-align: center; text-shadow: 2px 2px;margin:20px">Login</h2>
    @using (Html.BeginForm("Verify", "Home", FormMethod.Post))
        {
    <form action="Verify" class="was-validated" id="=login1" method="post" style="">
        <div class="form-group" id="login2">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" placeholder="Enter username" name="idtk" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="pass" required>
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Please fill out this field.</div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary" style="text-align:center" >Submit</button>
        </div>

    </form>
    }

</div>
